@media only screen and (max-width: 600px) {
    /* Mobil cihazlar için stil tanımları */
    #toggleButton {
        /* Örnek stil tanımı */
        font-size: 20px;
        color: white;
        background-color: rgb(0, 21, 31);
    }
}
#toggleButton {
    /* Mobil cihazlarda görünürlük ayarları */
    display: block; /* veya inline, inline-block, vs. */
}
